#menu {
    position: relative;
    background: #706e6e;
    font-family: 'Times New Roman';
    font-size: 20px;
    color: white;
    width: 95%;
    height: 50px;
    padding-top: 10px;
    text-align: center;
    border: 2px solid black;
    z-index: 1;
}
#map {
    position: relative;
    width: 95%;
    height: 500px;
    border: 2px solid  black;
}
header {
    text-align: center;
    font-weight: bold;
    height: 50px;
    background-color: rgb(50, 86, 185);
    color: white;
    font-family: 'Times New Roman';
    font-size: 25px;
    padding-top: 8px;
    margin-bottom: 15px;
    margin-top: -10px;
}
/*
body {
    position: relative;
    background: -webkit-linear-gradient(to right, hsla(219, 39%, 54%, 0.973), hsl(0, 31%, 57%));
    background: linear-gradient(to right, hsla(221, 65%, 51%, 0.61), hsla(9, 60%, 60%, 0.815));

    border: 2px solid red;
}*/
h2 {
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 15px;
}
.seleccione {
    padding-left: 35px;
    font-family: 'Times New Roman';
    font-size: 17px;
    font-weight: bold;
    height: 20px;
    color: black;
}
h4 {
    text-align: left;
    font-family: 'Times New Roman';
    font-size: 20px;
    height: 12px;
    color: black;
}

#Localizacion{
    float: left;
    padding-left: 50px;
    width: 300px;
}


footer{
    background: #3a3939e7;
    padding: 15px 0 15px 0;
    margin: auto;
    overflow: hidden;
    width: 100%;
}
.titulo-final{
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 17px;
    margin: 5px 0 0 0;
    color: #eeeeee;
}
